@import url(http://fonts.googleapis.com/css?family=EB+Garamond);
/** Cardenio Modern font by Nils Cordes: http://www.dafont.com/it/nils-cordes.d5094 **/
@font-face {
	font-family: 'Conv_Cardenio Modern';
	src: url('Cardenio Modern.eot');
	src: local('☺'), url('Cardenio Modern.woff') format('woff'), url('Cardenio Modern.ttf') format('truetype'), url('Cardenio Modern.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: Garamond, EB Garamond, Georgia, serif;;
	font-size: 18px;
	padding-bottom: 35px;
  	color: #5a5a5a;	
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family:'Conv_Cardenio Modern', Sans-Serif;
    line-height: 1.1;
	text-transform: uppercase;
	color: #a58241;
}

h4, .h4 {
	font-size:24px;	
}

.gold {
	color: #a58241;
}

a {
    color: #000;
    -moz-transition: color 0.2s ease-in 0s, background-color 0.2s ease-in 0s;
    -webkit-transition: color 0.2s ease-in, background-color 0.2s ease-in; /*safari and chrome */
    -o-transition: color 0.2s ease-in, background-color 0.2s ease-in; /* opera */
}

a:hover, a:active, a:focus {
     color: #777;
}

.logo {
	height: 24px;
}

.navbar {
	text-transform: uppercase;
	font-family:'Conv_Cardenio Modern',Sans-Serif;
	font-size: 28px;
}

.navbar-brand {
	padding: 11px;
}

.nav a:hover .caret {
    border-bottom-color: #3a3a3a;
    border-top-color: #3a3a3a;
}
.nav .caret {
    border-bottom-color: #9a9a9a;
    border-top-color: #9a9a9a;
}

.lead {
	font-size: 18px;
}

.icon-bar {
    background-color: #000;
}

.dropdown-menu li a:hover {
	background-color:#EEE;
	background-image:none;
	color:#000;
}

.btn-primary {
    background-image: linear-gradient(to bottom, #5a5a5a 0px, #3a3a3a 100%);
    background-repeat: repeat-x;
    border-color: #5a5a5a;
    background-color: #3a3a3a;
    color: #FFF;
	text-transform:uppercase;
}

.carousel-caption a {
	color: #cecece;
}

.carousel .item > img { 
	max-width: none
}

footer p {
	text-align: center;	
}

h1, .h1 {
    font-size: 70px;
}

@font-face {
	font-family: 'Conv_modernpics';
	src: url('modernpics.eot');
	src: local('☺'), url('modernpics.woff') format('woff'), url('modernpics.ttf') format('truetype'), url('modernpics.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.symbol {
	font-family: 'Conv_modernpics';
	font-size: 28px;
}

input, textarea {
	padding:7px;
	border: 1px solid #CCC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

textarea {
	height: 210px;	
}

input:hover, textarea:hover {
	border: 1px solid #666;
}

.fitwidth {
	width: 100%;
}

.portfolio-item {
	padding-top: 21px;
}

.featurette-divider {
	margin:63px 0 !important;
}

*, *:after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
 
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'icomoon';
    src:url('icomoon.eot');
    src:url('icomoon.eot?#iefix') format('embedded-opentype'),
        url('icomoon.ttf') format('truetype'),
        url('icomoon.woff') format('woff'),
        url('icomoon.svg#icomoon') format('svg');
}

.symbol {
	font-family: 'icomoon';
	color:#DCDCDC;
	font-size: 24px;
	padding: 7px 7px 7px 0;
}

.hideme {
	display:none;
}

/* invia con progress bar */
.progress-button {
    position: relative;
    display: inline-block;
    padding: 0 35px;
    outline: none;
    border: 1px solid #CCC;
    text-transform: uppercase;
	font-weight:bold;
    font-size: 1em;
    line-height: 4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

}

.progress-button:hover {
    border: 1px solid #666;
}
 
.progress-button[disabled],
.progress-button[disabled].state-loading {
    cursor: default;
}
 
.progress-button .content {
    position: relative;
    display: block;
}
 
.progress-button .content::before,
.progress-button .content::after  {
    position: absolute;
    right: 14px;
    color: #666;
    font-family: "icomoon";
    opacity: 0;
    transition: opacity 0.3s 0.3s;
}
 
.progress-button .content::before {
    content: "\e606"; /* Checkmark for success */
	color:#090;
}
 
.progress-button .content::after {
    content: "\e607"; /* Cross for error */
	color:#C00;
}
 
.progress-button.state-success .content::before,
.progress-button.state-error .content::after {
    opacity: 1;
}
 
.notransition {
    transition: none !important;
}
 
.progress-button .progress {
    background: #CECECE;
}
 
.progress-button .progress-inner {
    position: absolute;
    left: 0;
    background: #666;
}
 
.progress-button[data-horizontal] .progress-inner {
    top: 0;
    width: 0;
    height: 100%;
    transition: width 0.3s, opacity 0.3s;
}
 
.progress-button[data-vertical] .progress-inner {
    bottom: 0;
    width: 100%;
    height: 0;
    transition: height 0.3s, opacity 0.3s;
}

/* Individual styles */
/* Choose the effect(s) you want, delete the rest */

/* Fill horizontal */
/* ====================== */

.progress-button[data-style="fill"][data-horizontal] {
	overflow: hidden;
}

.progress-button[data-style="fill"][data-horizontal] .content {
	z-index: 10;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.progress-button[data-style="fill"][data-horizontal] .content::before,
.progress-button[data-style="fill"][data-horizontal] .content::after {
	top: 100%;
	right: auto;
	left: 50%;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.progress-button[data-style="fill"][data-horizontal].state-success .content,
.progress-button[data-style="fill"][data-horizontal].state-error .content {
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}

/* fine invia con progress bar */